{% extends 'base.html' %}


{% block main %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Password changed!</h3>
          <div class="font-normal text-gray-700 dark:text-gray-400" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <br>
          <a style="margin-top:10px;" href="{% url 'login' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Return to log in</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}